<div class="bg-white rounded-xl max-w-xs">
    <div class="p-5 grid-rows-2 ">
        <div>
            <img src="./assets/image-qr-code.png" class="rounded-lg">
        </div>
        <div class="py-6">
            <h3 class="font-outfit text-darkblue font-bold text-xl text-center px-4 mb-4">Improve your front-end skills by building projects</h3>
            <p class="font-outfit font-normal text-sm text-grayishblue text-center px-4">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
        </div>
    </div>
</div>
